.Link {
  display: block;
  border-radius: 3px;
  background-color: #ddd;
  color: #888;
  font-weight: bold;
  text-decoration: none;
  padding: 8px;
  transition: all .3s;
}

.Link:hover, .Link.active {
  background-color: #1976d2;
  color: #fff;
}
